<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.geolocation"
    version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
 
    <name>Registration Form</name>
    <description>
        Geolocation
    </description>
    <author email="me@me.com" href="http://www.me.me">
        Emmanuel Assimeku
    </author>
 	<content src="package.json" />
    <access origin="*" />
 
    <preference name="EnableDeveloperConsole" value="true"/>
</widget>